@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* Custom colors */
  --color-trafficGrayHeader: rgb(58 123 255);
  --color-trafficDarkOliveHeader: #866e00;
  --color-trafficRedHeader: #a31621;
  --color-hrColor: #9fa2b2;
  /*Body color under */
  --color-cardcColor: rgb(30 41 59);
  --color-cardBorderColor: rgb(41 53 72);
  --color-headerBg: rgb(41 53 72);
  --color-mainContainerBg: rgb(18 24 38);
  --color-text-dark-400: rgb(100 116 139);
  --color-text-dark-300: rgb(148 163 184);
  /* Custom colors */

  /* Custom container query ranges */
  --container-trafficHeaderSmall: 605px;
  --container-bottomContainerCol: 851px;
  /* Custom container query ranges */

  /* Fonts */
  --font-poppins: "Poppins", sans-serif;
  --font-lato: "Lato", "sans-serif";
  --font-montserrat: "Montserrat", sans-serif;
  /* Fonts */
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.pac-container {
  background-color: #0f172a;
  border-radius: 15px;
  border: 1px solid #475569;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin-top: 5px;
  padding: 8px 0;
  z-index: 1000;
}

.pac-item {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  cursor: pointer;
  border-top: none;
}

.pac-item,
.pac-item-query {
  color: #bae6fd;
  font-size: 0.9rem;
}

.pac-item-query {
  font-size: 1rem;
  font-weight: 500;
}

.pac-matched {
  color: #38bdf8;
  font-weight: bold;
}

.pac-icon {
  filter: invert(80%) sepia(30%) saturate(1000%) hue-rotate(180deg)
    brightness(100%) contrast(90%);
  margin-right: 10px;
}

.pac-item:hover {
  background-color: rgba(71, 85, 105, 0.4);
}

.pac-logo::after {
  display: none;
}

.pac-item-selected {
  background-color: rgba(71, 85, 105, 0.5);
}

.pac-item:not(:last-child) {
  border-bottom: 1px solid rgba(71, 85, 105, 0.2);
}
:root {
  background-color: rgb(30 41 59);
}
